#root {
    background-color: #fff;
    color: #250971;
    width: 100%;
  }
  
  .services {
    will-change: filter;
    transition: filter 300ms;
  }
  
  main div:hover {
    filter: drop-shadow(0 0 1px #adb1be);
  }
  
  footer >.meta {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      padding-left: 8px;
      color: color-mix(in xyz-d65, grey 20%, black 40%);
  }
  
  a img {
    transition: 0.2s;
    transition: 3px 2s ease;
  }

  a img:hover {
    transform: scale(1.1);
  }
  
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (min-width: 992px) and (min-width: 1280px) and (min-width: 1300px) and (min-width: 1600px) and (max-width: 320px) and (max-width: 480px) and (max-width: 767px) and (max-width: 768px) {
    #root {
      padding: 0px;
      margin: 0 auto;
    }
  }
  