#root {
    min-width: 650px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: max-content;
    margin: 0 auto;
    padding: 0px;
    background-color: #fff;
    color: #250971;
  }
  
  .services {
    will-change: filter;
    transition: filter 300ms;
  }
  
  main div:hover {
    filter: drop-shadow(0 0 1px #adb1be);
  }
  
  footer >.meta {
      display: flex;
      flex-direction: row;
      text-align: center;
      align-items: center;
      padding-left: 8px;
      color: color-mix(in xyz-d65, grey 20%, black 40%);
  }

    @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (min-width: 650px) {
    #root {
      padding: 0px 10px;
      margin: 0 auto;
    }
    a img:hover{
          animation: logo-spin infinite 10s linear;
    }
  }
  